{namespace i=T3easy\Impress\ViewHelpers}
<f:if condition="{presentation.touchIcon}">
	<f:then><i:link.touchIcon href="{f:uri.image(src:'uploads/tx_impress/{presentation.touchIcon}')}" /></f:then>
	<f:else><i:link.touchIcon href="{f:uri.image(src:'{settings.defaultTouchIcon}')}" /></f:else>
</f:if>
<f:if condition="{presentation.shortcutIcon}">
	<f:then><i:link.shortcutIcon href="{i:uri.resource(path:'uploads/tx_impress/{presentation.shortcutIcon}')}" /></f:then>
	<f:else><i:link.shortcutIcon href="{i:uri.resource(path:'{settings.defaultShortcutIcon}')}" /></f:else>
</f:if>
<div id="impress">
	<f:render section="main" />
</div>
<f:if condition="{presentation.displayHint}">
	<div class="hint">
		<p>{f:translate(key:'tx_impress_domain_model_presentation.hint')}</p>
	</div>
	<script>
		if ("ontouchstart" in document.documentElement) {
			document.querySelector(".hint").innerHTML = "<p>{f:translate(key:'tx_impress_domain_model_presentation.hintTouch')}</p>";
		}
	</script>
</f:if>
<footer>
	<nav>
		<ul>
			<li>
				<f:link.action action="list" class="back">
					{f:translate(key:'tx_impress_domain_model_presentation.backToList')}
				</f:link.action>
			</li>
			<f:for each="{presentation.slides}" as="slide">
				<f:if condition="{slide.title}">
					<f:then>
						<li>
							<f:link.page addQueryString="1"
										 section="{f:if(condition:'{slide.id}',then:'/{slide.id}', else:'/step-{slide.sorting}')}">
								{slide.title}
							</f:link.page>
						</li>
					</f:then>
					<f:else>
						<li>
							<f:link.page addQueryString="1"
										 section="{f:if(condition:'{slide.id}',then:'/{slide.id}', else:'/step-{slide.sorting}')}">
								{f:translate(key:'tx_impress_domain_model_slide')} {slide.sorting}
							</f:link.page>
						</li>
					</f:else>
				</f:if>
			</f:for>
		</ul>
	</nav>
	<div id="meta">
		<f:translate key="tx_impress_domain_model_presentation.title" />: {presentation.title}
		<f:if condition="{presentation.author}">
			, <f:translate key="tx_impress_domain_model_presentation.author" />: {presentation.author}
		</f:if>
	</div>
</footer>