<label for="title">
	<f:translate key="tx_impress_domain_model_presentation.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="transitionDuration">
	<f:translate key="tx_impress_domain_model_presentation.transition_duration" />
</label><br />
	<f:form.textfield property="transitionDuration" /><br />
<label for="perspective">
	<f:translate key="tx_impress_domain_model_presentation.perspective" />
</label><br />
	<f:form.textfield property="perspective" /><br />