<table class="tx-impress" >
	<tr>
		<td>
			<f:translate key="tx_impress_domain_model_presentation.title" />
		</td>
		<td>
			{presentation.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_impress_domain_model_presentation.transition_duration" />
		</td>
		<td>
			{presentation.transitionDuration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_impress_domain_model_presentation.perspective" />
		</td>
		<td>
			{presentation.perspective}
		</td>
	</tr>
</table>