{f:layout(name:'Default')}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>List template</title>
</head>
<body>

<f:section name="main">

	<f:flashMessages/>
	<f:if condition="{presentations}">
		<f:then>
			<ul>
				<f:for each="{presentations}" as="presentation">
					<li>
						<f:link.page additionalParams="{tx_impress_main: '{presentation : presentation}'}"
									 pageType="{settings.showTypeNum}">{presentation.title}
						</f:link.page>
						<div class="meta">
							<f:if condition="{presentation.author}">
								{f:translate(key:'tx_impress_domain_model_presentation.author')}: {presentation.author}
							</f:if>
						</div>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>

</body>
</html>