{f:layout(name:'Impress')}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<title>Show template</title>
</head>
<body>

<f:section name="main">
	<div class="fallback-message">
		{f:translate(key:'tx_impress_domain_model_presentation.fallbackMessage')}
	</div>
	<f:flashMessages />
	<f:if condition="{presentation.slides}">
		<f:then>
			<f:for each="{presentation.slides}" as="slide">
				<div class="step{f:if(condition:'{slide.additionalClass}', then:' {slide.additionalClass}')}"
					 id="{slide.id}"
					 data-x="{slide.x}"
					 data-y="{slide.y}"
					 data-z="{slide.z}"
					 data-rotate="{slide.rotate}"
					 data-rotate-x="{slide.rotateX}"
					 data-rotate-y="{slide.rotateY}"
					 data-scale="{slide.scale}">
					<f:if condition="{slide.title}"><h1>{slide.title}</h1></f:if>
					{slide.content -> f:format.html()}
				</div>
			</f:for>
		</f:then>
	</f:if>
</f:section>

</body>
</html>