footer {
	background: rgb(215, 215, 215);
	height: 0;
	margin: 0 auto;
	padding-top: 8px;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	transition: height 1s ;
	pointer-events: auto;
}
footer:hover {
	height: 64px;
}
footer nav li {
	display: inline-block;
}